html, body{
    margin: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    background-image: url('https://img.freepik.com/fotos-gratis/homem-musculoso-sem-camisa-com-barba-posando-perto-da-janela_613910-16971.jpg?w=2000');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    

}
.orizon{
    color: white;
    display: flex;
    align-items: center;



}
header{
    background-color: rgb(232, 0, 253);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    height: 100px;
    width: 100%;
    z-index: 2;
}

header img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
   margin: 1px 800px 10px 0; 

}
.highlight-background {
    background-color: #ff00b3; 
    padding: 0 5px; 
    border-radius: 5px; 
}

.icon{
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    width: 320px;
}
header h1{
    color: rgb(64, 255, 0);
    margin-right: 20px;
    font-weight: 100;
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;

}
main{
    width: 100%;
}

h2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://img.freepik.com/fotos-gratis/homem-musculoso-sem-camisa-com-barba-posando-perto-da-janela_613910-16971.jpg?w=2000');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    color:  rgb(64, 255, 0);
    height: 20px;
    width: 300px;
    border-radius: 10px;
    margin-top: 2px;
    font-size: xx-large;
    font-family: 'Open Sans', sans-serif;
}

main h1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://img.freepik.com/fotos-gratis/homem-musculoso-sem-camisa-com-barba-posando-perto-da-janela_613910-16971.jpg?w=2000');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    color:  rgb(64, 255, 0);
    height: 20px;
    width: 300px;
    border-radius: 10px;
    margin-top: 2px;
    font-size: xx-large;
    font-family: 'Open Sans', sans-serif;
}
main p{
    width: 75%;
    font-size: x-large;
    text-align: justify;
    font-family: 'Calibri Bold', serif;
    margin: 15px;
    justify-content: center;
    color:  rgb(64, 255, 0);
}
.P1{
    color: rgb(255, 0, 0);
}
.P2{
    color: rgb(255, 85, 0); 
}
.P3{
    color: rgb(255, 247, 0); 
}
.P4{
    color: rgba(25, 90, 3, 0.696); 
}
.P5{
    color: rgb(0, 123, 255); 
}
.P6{
    color: rgb(94, 0, 157); 
}


.Fernando{
    color: chartreuse;
    width: 400px;
}
.image-container {
    display: flex;
  }
  
.img1{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 20%;
    margin: 0px;
    margin-right: 10px;
    max-width: 100%;
    height: auto;
}

footer{
    width: 100%;
    background-image: url('https://img.freepik.com/fotos-gratis/homem-musculoso-sem-camisa-com-barba-posando-perto-da-janela_613910-16971.jpg?w=2000');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
}
footer h1{
    color: rgb(85, 255, 0); 
}
#inicio, #projetos, #contato{
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.projetos{
    display: flex;
    justify-content: space-around;
}
.projetos :first-child{
    width: 500px;

}



form{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    
}
#nome,#email{
    
    width: 300px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
   background-color: aliceblue;
    font-family: 'Calibri Bold', sans-serif
    
}
#mensagem{
    margin-top: 10px;
    font-family: 'Calibri Bold', serif;
}
#enviar{
    font-family: 'Calibri Bold', serif;
    width: 150px;
    height: 50px;
    margin: 10px;
}
label{
    font-family: 'Calibri Bold', serif;
    margin: 10px;
}
#contato div img{
    width: 60px;
    height: 60px;

    background-image: url('https://s1.1zoom.me/big0/638/Milky_Way_Sky_Night_447884.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    border-radius: 10px;
}
.name{
    color: white;
}